h1 {
    color: rgb(223, 98, 25) !important;
    background: rgb(205, 219, 238);
    text-align: center;
    font-family: 'Montserrat', !important;
    font-size: 50px !important;
}

h1 a:hover{
    text-decoration: none;
}

.navigator {
    padding-left: 70px;
    padding-bottom: 10px;
}

.navigator a button{
    font-family: 'Montserrat' !important;
    width: 250px;
    color: white;
    background-color: rgb(135, 146, 155);
    border: #353840 3px solid;
    border-radius: 5px;
}

.navigator a button:hover {
    background-color: rgb(96, 141, 177);
    transition-duration: 0.4s;
    text-decoration: none;
}

img {
    padding-top: 10px;
    padding-bottom: 20px;
}

p {
    font-family: 'Montserrat', !important;
    position: relative;
    text-align: left;
    padding-top: 10px;
    color: rgb(189, 101, 0);
}


th,td{
    font-family: 'Montserrat', !important;
    border: #353840 3px solid !important;
    background-color: rgb(65, 87, 104);
    text-align: center !important;
    border-collapse: separate;
    width: 200px;
    color: white;
}

/*td,th:hover {
    color: green;
    background-color: black;
}*/

body {
    background-color: aliceblue;
}